<div class="card text-center rounded">
    <div class="card-body">
        <h1><strong>About Me</strong></h1>
        <p>My name is Gabriela Thomas, I'am a Junior Web Developer!</p>
        <img src="/img/Logo.png" alt="Logo" class="mx-auto d-block m-4 logo">
    </div>
</div>