<div class="card text-center rounded ">
    <div class="card-body">
        <h1>About Me!</h1>
        <h4>My name is Gabriela Thomas, I'am a Junior Web Developer!</h4>
        <img src="/img/Logo.png" alt="Logo" class="mx-auto d-block m-4 logo">
    </div>
</div>