<div class="jumbotron mt-4 text-center rounded">
    <h1 class="display-4">Project with NodeJs and MongoDB</h1>
    <p class="lead"> CRUD, LOGIN, ES6+</p>
    <hr class="my-4">
    <h3>This is a project of notes for the moment!!</h3>
    <a href="https://github.com/GabrielaTh" class="btn btn-outline-info rounded btn-lg pt-2">Gabriela Thomas</a>
</div>