body {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 35%;
}

#color-note {
    background-color: rgb(44, 43, 43);
}


#text-menu {
    color: white;
}

#text-menu:hover {
    color: rgb(29, 25, 25);
}

#navbar {
    background-color: rgb(14, 12, 12) !important;
}

#kory {
    height: 35px;
}

.nav-link {
    color: aliceblue !important;
}

#navbarDropdown {
    font-size: 18px;
    margin-top: -14px;
}

#btn{
    font-size: 15px;
}

#box-chat{
    background-color: rgb(224, 232, 240);
    overflow:auto;
    height: 500px;
}


#chat{
    background-color: aliceblue;
}