<div class="col-md-5 col-sm-7 col-4-block mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2><b>New Note</b></h2>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="from-group">
                    <button class="btn btn-info btn-block btn-md" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>